# MisticPay (PIX)
MISTICPAY_CLIENT_ID=seu_client_id
MISTICPAY_CLIENT_SECRET=seu_client_secret
MISTICPAY_WEBHOOK_URL=https://gta6.xdeals.online/webhook

# Banco de dados (SQLite local)
DATABASE_URL="file:/home/z/my-project/db/custom.db"
